.thubnail-header {
  height: 200px;
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
  
}

.thumbnail-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Number of lines to show before truncating */
  max-height: calc(2 * 2rem);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}