@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
  transition: all ease-in 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #dc143c;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  overflow: hidden;
  transition: 0.5s;
}

.home::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.home .movie {
  padding: 0 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  padding-bottom: 100px;
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  font-size: 8rem;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.bgImg.active {
  visibility: visible;
  opacity: 1;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  transition: 0.5s;
  z-index: 10000;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid #dc143c;
  border-image: linear-gradient(90deg, transparent, #dc143c, transparent) 30;
  backdrop-filter: blur(20px);
  padding: 10px 100px;
}

.shadow-txt {
  color: #fff;
  font-family: "Racing Sans One", sans-serif;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-clip: text, padding-box;
  -webkit-mask-composite: xor;
}

.heading::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -20px;
  height: 5px;
  width: 50%;
  border-radius: 15px;
  background: linear-gradient(90deg, #dc143c, #dc143c, transparent);
  z-index: 1000;
}

main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 120px;
  background: #000000;
}

main::before {
  position: absolute;
  content: "";
  left: 0;
  top: -80px;
  width: 100%;
  height: 200px;
  background: #000000;
  filter: blur(50px);
}

.login-container {
  background-color: rgba(0, 0, 0, 0.7);
}

.footer .footer-top {
  position: relative;
  background: url("../public/assets/footer.jpg") no-repeat left top;
  background-size: contain;
  padding: 60px 0 30px 0;
}

.footer .footer-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.nav-link:after {
  content: "";
  position: absolute;
  background-color: #dc143c;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.7s;
}

.nav-link:hover:after {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 30px 50px;
  }
  .home .movie {
    padding: 0 50px;
    padding-bottom: 100px;
  }
  .home .vid-player {
    padding: 0.75rem;
  }
}
